body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte {
    width: 300px;
    height: 300px;
    transition: all 2s linear;
    transform: rotateY(0deg);
    position: relative;

    &.carte:hover  {
        transform: rotateY(180deg);
        .back{z-index: 1; transform: rotateY(-180deg);}
        .front{
            opacity: 0.8;
        }
    }

    .front {
        position: absolute;
        background-size: cover;
        width: 300px;
        height: 300px;
        background-image: url(profile-image.jpg);
    }

    .back {
        z-index: -1;
        position: absolute;
        text-align: center;
        padding-top: calc(200px / 2);
        color: white;
    }


}