* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(0, 252, 168);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: -webkit-linear-gradient(left , pink, purple ,rgb(98, 98, 30));
}

.fa {
    font-size: 1.8rem;
}


.navbar__items li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 760px) {
    .navbar__items li {display: none;}
    .navbar{
        justify-content: start;
    }
    .fa{
        margin-left: 10px;
    }
}

@media (min-width: 800px) {
    .fa{display: none;}
    .navbar{
        justify-content: end;
    }
    .navbar__items{
        margin-right: 10%;
    }
}