:root {
    --dark-mode: white;
    --font-color: black;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input:checked~.content {
    --bg-color: black;
    --font-color: white;
}

.content {
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 100vw;
    height: 100vh;
    transition: background-color .5s, color .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    width: 500px;
    height: 200px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: .5s linear;
}

label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 180px;
    height: 180px;
    background: linear-gradient(180deg, orange, crimson);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: .5s linear;

}

input {
    width: 0px;
    height: 0px;
    visibility: hidden;
}

input:checked+label {
    background-color: #242424;
}

input:checked+label::after {
    transform: translateX(-100%);
    left: 490px;
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active::after {
    width: 260px;
}