* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile {
    background-color: aqua;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 10px -6px black;
    border-radius: 20px;
}

.profile__image {
    background-color: rgb(203, 255, 151);
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 50%;
}

.profile__image .image {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile__content {
    text-align: center;
} 