body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loader {
    width: 50%;
    height: 30px;
    background-color: rgb(223, 208, 208);
    border-radius: 25px;
    margin: auto;
 
}

.loader__line {
   position: relative;
    width: 5%;
    height: 30px;
    background-color: greenyellow;
    border-radius: 30px;
    animation: loading-indicator 5s linear 0.2s alternate forwards;
    text-align: center;
}


@keyframes loading-indicator {

    5% {
        width: 30%;
    }

    30% {
        width: 60%;
    }

    60% {
        width: 100%;
    }
    100% {
        width: 100%;
    }


}